<h2>Welcome to Whuf.me</h2>

<p class="about">
This website is a place to keep track of who has done awesome things for whom.
If someone did something awesome for you, give them credit!  It was inspired by
the Whuffie currency system in Cory Doctorow's novel
<%= link_to "Down And Out In The Magic Kingdom", "http://craphound.com/down/?page_id=1625" %>.
</p>

<p>
To get started using whuf.me, sign in <%= link_to "with twitter", "/auth/twitter" %>.
</p>
